<article class="talk col-12 col-sm-6 col-md-3 col-xxl-2">
  <div class="row">
    <div class="col-12">
      <% unless talk.talk_pictures_count.zero? %>
        <figure class="figure">
          <%= image_tag talk.talk_pictures[0].picture.medium_thumb.url, width:200, height:200,class: 'figure-img img-fluid rounded'  %>
        </figure>
      <% end %>
    </div>
    <div class="col-12">
      <div class="media rounded-2 p-3">
        <h3><%= link_to truncate(talk.title,length: 25)+'['+talk.comment_threads.count.to_s+']', talk_path(talk) %></h3>
        <%= link_to talk_path(talk) do %>
        <%=truncate(strip_tags(talk.content.to_s), escape: false, length: 50)  %>
        <% end %>
      </div>
    </div>
  </div>
</article>