<ul
  id="user_layer"
  data-user-layer-target="layer"
  data-action="click->user-layer#hide"
  class="user-layer hidden"
>
  <li>
    <a href="mailto:<%= article.user.email %>">
      <span class="material-icons">email</span>
      <span class="label"><%= article.user.email %></span>
    </a>
  </li>

  <% if article.user.url.present? %>
    <li>
      <%= link_to article.user.url, target: "_blank", rel: "noopener" do %>
        <span class="material-icons">home</span>
        <span class="label">URL</span>
      <% end %>
    </li>
  <% end %>
</ul>