<main id="mypage" class="container sub-main">
  <section class="row mb-5">
    <h3 class="col-12"><%=t(:mypage) %></h3>
    <article class="col-12">
      <div class="media rounded-3 p-3">
    <h4> <%=@user.name %> 회원님은
    <% if session[:company_id].present? %>
        <strong class="text-primary">전문가,업체 회원</strong>입니다.
    <% else %>
        <strong class="text-primary">일반 회원</strong>입니다.
    <% end %>
    </h4>
        <p><%=@user.name %> 회원님의 포인트는 <%=@user.point %>P 입니다.</p>
      </div>
    </article>
  </section>
  <section class="row">
    <h3 class="col-12">나의 활동내역</h3>
    <article class="col-12">
      <h4>공고작성</h4>
      <div class="card">
        <div class="card-body">

        </div>
      </div>
    </article>
    <% if session[:company_id].present? %>
    <article class="col-12">
    </article>
    <% end %>
  </section>
</main>