<main id="main-page">
  <%= render :partial => 'blogs/index' %>
  <%= render :partial => 'questions/index' %>
  <%= render :partial => 'talks/index' %>
  <%= render :partial => 'galleries/index' %>
</main>