<main id="main-page">
  <%= render :partial => 'blogs/index',collection: @blogs, cached: true %>
  <%= render :partial => 'questions/index',collection: @questions, cached: true %>
  <%= render :partial => 'talks/index',collection: @talks, cached: true %>
  <%= render :partial => 'galleries/index',collection: @galleries, cached: true %>
</main>