<section id="edit-answer" class="container sub-main">
  <div class="row">
    <h2 class="col-12"><%=t(:edit_answer) %></h2>
    <div class="col-12">
      <%= render 'form', answer: @answer %>
    </div>
  </div>
</section>