<section id="new-talk" class="col-12">
  <div class="row">
    <h2 class="col-12"><%= t(:new_talk) %></h2>
  </div>
  <div class="row">
    <div class="col-12">
      <%= render 'form', talk: @talk %>
    </div>
  </div>
</section>