<section class="galleries">
  <div class="row">
    <div class="col-12 section-header">
      <h2><%= t(:gallery,scope: [:activerecord,:models]) %></h2>
      <%=link_to galleries_path,class: 'more-link' do %>
        <span><%=t(:more) %></span>
      <% end %>
    </div>
    <% @galleries.each do |gallery| %>
      <%= link_to image_tag(sl_get_thumb(gallery.photo.to_s, 'medium'),width: "100%",loading: 'lazy', alt: gallery.title) , gallery_path(gallery), class: "col-6 col-md-4 col-xl-3 col-xxl-2 mb-3" %>
    <% end %>
  </div>
</section>
