<section id="add-market" class="container sub-main">
  <div class="row">
    <h2 class="col-12"><%=t(:new_market) %></h2>
    <div class="col-12">
      <%= render 'form', market: @market %>
    </div>
  </div>
</section>